[2017-09-14 13:03] mattharrigan opened #2 "Feature Requests and Minor Code Comments"
Hello.  First thank you for this library.  It has been very helpful.  Two small comments/questions on the code.  Note I am still learning C.

First [here](https://github.com/kokke/tiny-regex-c/blob/master/re.c#L107) I think ccl_bufidx could be initialized to 1, otherwise the first slot in the array is unused.  I might be missing something though.

Second, I don't understand why there is a union in

[2017-09-22 12:48] mahdix opened #3 "Enable use of multiple patterns at the same time"
Compiled patterns are kept in a static variable which means they will be overwritten as soon as another pattern is compiled.

[2017-09-29 11:42] kokke commented on #3
Hi @mahdix - thanks for taking an interest :)

There is [another issue detailing this flaw](https://github.com/kokke/tiny-regex-c/issues/2) - I agree with you both that the compiled pattern should be passed as a pointer to the compile function.

I will see if I can find the time to implement this feature.
You are also welcome to suggest a change via a Pull Request :)

Thank you for your feedback

[2017-10-11 22:22] blitz-research opened #4 "Needs #ifdef __cplusplus"
Hi,

Nice little library!

To make it usable with c++, you need to add this:

[code]
...before the definitions in the header file, and this...

[code]

...after.

Otherwise, c++ will assume symbols like re_match etc are c++ symbols and you'll get link errors. More info here:

https://stackoverflow.com/questions/3789340/combining-c-and-c-how-does-ifdef-cplusplus-work

[2017-10-11 22:35] kokke commented on #4
Oh, I haven't mixed C and C++ in a few years, so I hadn't been aware of that issue.
Yeah I would have to do that to avoid trouble with the name mangling right?
Or could I require the user to know that the library is written in C, and then do one of two:

1) either put it in a C++ header with the `extern C { ... }` tag wrapped around the contents
2) or put the `extern`-stuff before `#include`'ing t

[2017-10-11 22:45] blitz-research commented on #4
Just add the #ifdefs to the existing re.h file. C compilers will ignore them because __cplusplus wont be defined, and c++ compilers will know not to mangle the names because of the extern"C".

Here's my re.h which builds fine with my c++ code. Would've done a pull request except I suck at git.

[code]

[2017-10-11 22:47] blitz-research commented on #4
...might also want to add an include guard, but it's such a small file it probably wouldn't be any faster!

[2017-10-11 22:55] kokke commented on #4
Yeah that is just the best solution :)

I've added the `#ifdef`-guard in the header - try pulling

[2017-11-02 00:26] #4 closed

[2017-11-11 15:24] komdivkote commented on #3
Hi, you can check out my fork of this library which I adopted to work in the kernel space for the FreeBSD kernel module. https://github.com/komdivkote/tiny-regex-c
The function re_compile(const char* pattern, uint32_t * o_reg_cnt) returns a pointer to an array of a new instance of **struct re_regex * re_compiled**  allocated in heap because the kernel has small stack. It uses realloc approach when

[2017-11-14 00:38] kokke commented on #3
Hi @komdivkote - wow you've really done something with the code :D A pull request would be awesome :)

I really find it interesting to see how other people use my code.
I'm in the embedded business for a living, which is what inspires me to keep the resource utilization frugal. Kernel code has some of the same flavor, so I get your motivation for a small regex-project.

Anecdote:
I haven't run Fre

[2017-12-11 22:16] kokke commented on #2
Hi @mattharrigan and thank you for taking an interest in this project :)

First I'm sorry I've been so slow to respond. Your issue slipped my mind for quite some time...

I don't actually remember my reasoning for initializing the index to 1. Maybe that's also why I never got back to you in the first place.

The reason for the union is to be able to safely use the same piece of memory as both a ch

[2017-12-11 22:16] #2 closed

[2017-12-28 14:29] Cthutu opened #10 "Bug in matchpattern"
In the matchpattern function you pass `&pattern[2]` to matchStar and matchPlus.  This should be `&pattern[1]`.

[2017-12-28 14:49] kokke commented on #10
Hi @Cthutu and thanks for reading my code :)

I don't think you are correct on this point, since if I apply this change, the test suite starts failing catastrophically.

Have you accounted any errors since you believe this to be a bug?

[2017-12-28 15:13] Cthutu commented on #10
Sorry - I think you're right.  I expected "\\S*" to fail on "\t \n", but of course '*' matches to 0 :)  Sorry for wasting your time.

[2017-12-28 15:14] #10 closed

[2017-12-28 15:18] Cthutu commented on #10
I've corporated your code into my C libraries and add hexadecimal matching with \x and \X.  Thanks for writing this.  It's given me a head start.

[2017-12-28 15:26] kokke commented on #10
No problem, always happy to hear about uses of the code.
I'm looking forward to reading your implementation :)

Season's greetings

[2018-01-22 09:11] 4kzeng opened #11 "Can you support "Match - Search" feature?"
example:
    src text:   hello,  ac97!
    char* p  = re_search(src,  "^.+,/s?+ac(/d/d)");
   if( p != NULL )
       printf("Number is %c%c\n", *p, *(p+1));

[2018-01-22 10:43] kokke commented on #11
Hi @4kzeng and thank you for taking an interest in this project :)

Unfortunately the current design does not support capturing groups at the moment, so what you are asking is currently not supported.

[2018-03-22 14:49] Avlaak opened #12 "Can I set the number of characters for numbers?"
Can i set the number of characters for numbers (from 1 to 2), for example for this format "00:00:00"?
The following pattern does not work: "\\d\\d?:\\d\\d?:\\d\\d?". Where could I make a mistake?

[2018-03-22 18:27] kokke commented on #12
Hi @Avlaak :)

The best way I can think of, would be to use \d\d? like you are suggesting.

You should be able to match `"00:00:00"` using the pattern `\d\d?:\d\d?:\d\d?`.

Remember that you need to escape the backslash `\` when coding C, so the pattern `\d\d?` becomes `\\d\\d?`. Like this for instance:
[code]

Could this be the problem?

I testing the pattern by adding the following test cases to

[2018-03-22 19:52] #11 closed

[2018-03-23 00:24] Avlaak commented on #12
Hi, I also added following test cases to [test1.c](https://github.com/kokke/tiny-regex-c/blob/master/tests/test1.c) and I got the result "48/54 tests succeeded".

`
{ NOK,  "\\d\\d?:\\d\\d?:\\d\\d?",  "0s:00:00" },
{ NOK,  "\\d\\d?:\\d\\d?:\\d\\d?",  "0s:00:00" },
`
`  { NOK,  "\\d\\d?:\\d\\d?:\\d\\d?",  "0s:00:00" },`
`  { NOK,  "\\d\\d?:\\d\\d?:\\d\\d?",  "000:00" },`
`  { NOK,  "\\d\\d?:\\d\\d?

[2018-03-23 11:02] kokke commented on #12
Hi @Avlaak - it looks like you have found a bug in the non-greedy quantifier `?`.

I did some testing, and it looks like it is the non-greedy quantifier that causes the pattern to match too broadly.

I will keep this issue open, label it as a bug and add a note in the TODO-list in the README, that it needs to be looked at.

[2018-03-23 11:52] kokke commented on #12
I've uploaded some changes that should fix your problem - at least the ones we've identified in this issue :)

Let me know if the last commits fix your problem.

[2018-03-23 17:40] Avlaak commented on #12
Hi @kokke, unfortunately the problem has remained, try to test the pattern.
```  { NOK,  "\\d\\d?:\\d\\d?:\\d\\d?",   "a:0"            },```

[2018-03-23 20:17] kokke commented on #12
Hmm I need to think a bit deeper about this then.

It looks like the bug is still in the code handling the question-mark.

[2018-04-16 19:03] roflcopter4 opened #13 "Python version shenanigans"
This is about the tiniest issue ever, but I figured I'd ask anyway. Many platforms (certainly at least ArchLinux and Gentoo) these days use python3 as the standard python implementation. The scripts included are all definitely python2 code and thus the tests fail immediately. It took approximately 3 seconds to type `$ perl -pi -e 's/python/python2/g' Makefile scripts/*.py` to fix it completely, bu

[2018-04-16 19:40] kokke commented on #13
Hi @roflcopter4 and thanks for checking out the project :) I like the idea to be python3 compatible. Would you suggested fix be backward-compatible with machines without python3 installed?

If so, I suggest you make a PR and I'd gladly accept it :) ?

[2018-05-14 19:07] TermoSINteZ opened #15 "Problem into ".?" matching."
https://github.com/kokke/tiny-regex-c/blob/bf9b2f0c5e91dd12e1fea8cbc7ae7a6193e7b4ed/re.c#L382

Hello kokke! You have very good parser. But some improvement will be good inserting.
So
Checked string : "real_bar" with regexp ".?ba.*" - you have match into 0 index (correct result 4 index)
Checked string : "real_foo" with regexp ".?ba.*" - you have match into 0 index (correct result -1 (or nothing mat

[2018-05-14 21:13] TermoSINteZ commented on #15
You can see possible solution into my fork:
https://github.com/TermoSINteZ/tiny-regex-c

[2018-05-15 00:09] kokke commented on #15
Hi @TermoSINteZ and thank you for the kind words :)

Great job on fixing the bugs! I will copy the code right away - unless you want to make a PR and get on the contributor list? I will gladly accept a PR.

[2018-05-15 09:36] TermoSINteZ commented on #15
Thanks

[2018-05-15 09:36] #15 closed

[2018-05-22 17:00] kokke commented on #13
Closing because I merged your PR https://github.com/kokke/tiny-regex-c/pull/14 :)

Thanks again @roflcopter4

[2018-05-22 17:00] #13 closed

[2018-06-06 16:10] #12 closed

[2018-09-13 07:42] ShuHu2015 opened #18 "Could you submit a version support "{}" ?"
for example "^28\d{15,16}$"

[2018-09-13 14:38] kokke commented on #18
Hi @ShuHu2015 and thanks for your interest :)

Supporting curly-braces would require a radical change in the current design, so unfortunately no, that is not an option.

[2018-09-13 14:38] #18 closed

[2018-09-14 07:07] ShuHu2015 commented on #18
Thanks for your reply, do you know any regex lib support curly-braces?

[2018-09-14 07:10] kokke commented on #18
Hi @ShuHu2015

This library is popular: https://www.pcre.org/

[2018-09-14 07:46] ShuHu2015 commented on #18
pcre is a big project. It is too hard for me to port pcre to my embed system....

[2018-09-14 07:55] kokke commented on #18
I don't know of other regex libraries suitable for embedded use.

[2018-09-17 00:05] monolifed commented on #18
This is a good starting point to look for simple libraries:
https://github.com/nothings/single_file_libs

This seem to support curly braces:
https://github.com/ccxvii/minilibs/blob/master/regexp.c
This might support it one day:
https://github.com/gingerBill/gb/blob/master/gb_regex.h
(I checked neither of them. So no idea about how they perform)

[2018-10-16 22:32] tobermory opened #19 "Typo bug in re.c"
At line 288 of re.c, there is a '==' operator between the tests for c == 'S' and c == 'w' that I think should be a '||'.

[2018-10-16 22:53] tobermory opened #20 "Match question mark fails?"
If my pattern is X?Y and my text is 'Z' I would expect this to not match, but it appears that it is matching?  I think the logic in matchquestion is wrong.  Once the two tests in that routine fail, we pass through to a result of 1, which becomes the result of the overall matchpattern.  The remainder of the pattern isn't ever consulted.

Also, and this may be related, the pattern indices in the rec

[2018-10-22 13:41] kokke commented on #19
Hi @tobermory I would definitely agree that it's a mistake on my behalf :)

Thanks for spotting this -- I have committed a change that fixes this, referencing this issue :)

[2018-10-22 13:41] #19 closed

[2018-10-22 14:01] kokke commented on #20
Hi @tobermory - thanks for reporting this issue.

I agree, "X?Z" should not match "Z".
This is a bug in the question-mark matching code, but I am not quite sure how to fix it.

For now, I will add your failing test-case to the list of hand-picked tests in the test-suite.
At least that makes it visible that something is failing in that area.
That also means I can track when it gets fixed -- that's

[2018-10-22 18:33] monolifed commented on #20
[code]
I hope this works better than the last time
(It still fails some of the `make test` tests)

[2018-10-22 20:12] kokke commented on #20
Hi @monolifed and thanks for contributing :)

I am not near a computer now, but I will review your suggested changes and try to see if I can make sense of the failing cases.

[2018-10-23 08:32] kokke commented on #20
Hey @monolifed - I just had a few minutes to look at this again.
I think I agree with your diagnosis of the first failing case:

'18' does indeed not match `\d+\w?\D\d`, so something is wrong with the input data being generated.
Should be possible to find the problem and fix that in the Python code.

Haven't had the time to look at the second failing case yet, but your explanation sounds plausible

[2018-10-23 10:38] monolifed commented on #20
[code]
this seems to fix unhandled `\]` in char-class but there is a possibility of overflow
(ccl_bufidx == MAX_CHAR_CLASS_LEN - 1 && pattern[i] == '\\')

[2018-10-25 14:05] violet701 opened #21 "can not match such string “869759002514931”"
the string is just  15 fixed digits witch is start by "86". i have check the pattern "\\d{15}", "[0-9]{15}" ,"^[0-9]{15}$" and they all cannot match correctly. what is wrong with it?

[2018-10-25 16:30] monolifed commented on #21
Adding the matching function doesn't seem hard
[code]
But you'd probably need another array to store mins and maxs

[2018-10-25 16:35] kokke commented on #21
Hi @monolifed

Maybe you could extract the min/max limits from the pattern before calling the matching function, avoiding the need add extras for min/max values?

[2018-10-26 00:07] monolifed commented on #21
Right.
https://github.com/monolifed/tiny-regex-c/tree/quantifier

[2018-10-26 06:40] kokke commented on #21
Wow that looks really promising @monolifed :) i will review the code later today / this evening.

I expect i will merge your PR #22 as well :)

[2018-10-26 09:43] kokke commented on #21
@monolifed

I have run a few tests on your quantifier-branch, and I really like it so far.

If you make another PR adding the quantifier functionality (or add it to #22), I will merge it.

[2018-10-26 12:28] violet701 commented on #21
oh, it's GREAT!!!

[2018-10-26 17:29] kokke commented on #18
Hi @ShuHu2015

@monolifed now has a branch of this library, that supports quantifiers / curly-braces as well :D

Available from: https://github.com/monolifed/tiny-regex-c/tree/quantifier

[2018-10-30 23:34] jkhax0r opened #24 "End of match"
The re_match() routine returns the first character of the match.  Is there an easy way to return the last matching character of the string?  I'm trying to copy out only the resulting matching string but can't think of an easy way.

Great library by the way!

[2018-10-31 10:29] monolifed commented on #24
I did it by returning text or NULL in matchpattern, it should point to the end of match.
https://github.com/monolifed/tiny-regex-c/blob/master/re.c#L371

[2019-01-03 14:12] tawmoto opened #27 "Does not work for GUUID validation"
Hello, it seems that it does not work for GUUID validation

[code]

This works with online tools https://regex101.com/r/hD8sJ8/3

Thank you

[2019-01-09 21:59] monolifed commented on #27
I rewrite some portions of this some time ago: https://github.com/monolifed/tiny-regex-mod
It also doesn't support captures but the following seems to work
`"^([0-9A-Fa-f]{8}[-][0-9A-Fa-f]{4}[-][0-9A-Fa-f]{4}[-][0-9A-Fa-f]{4}[-][0-9A-Fa-f]{12})$"`

[2019-05-28 03:52] gogo9th opened #28 "Capture group"
Hi,

I am looking for a C source code for regular expression that supports finding matchings substrings for capture groups. I seems that tiny-regex-c doesn't support it... I wonder if you happen to know any other C libraries that support this feature. Thanks for your help.

[2019-06-03 07:55] kokke commented on #28
Hi @gogo9th and thanks for checking out this library.

I don't know of other small libraries that support capture-groups, but I'm fairly certain that the PCRE library supports it.

https://en.wikipedia.org/wiki/Perl_Compatible_Regular_Expressions
https://www.pcre.org/

Otherwise, I recommend that you check out the forks of this project, as some of them really have extended the functionality. There

[2019-06-04 10:40] gjois opened #29 "Simple Date format not matched"
Please check this site for example: https://regex101.com/r/ZqMTdp/1
the same input to your sample program is not giving the match. Am I missing something?
I'm really a newbie in regexp.

[2019-06-04 11:50] kokke commented on #29
Hi @gjois and thanks for the question

Currently, quantifier-operators are unsupported, and your regular expression is using those operators.

In this regular expression: `\d{4}-\d{2}-\d{2}` <-- the quantifiers are {4}, {2}  and {2}.

You should be able to achieve the same result with this pattern: `\d\d\d\d-\d\d-\d\d`.

[2019-06-04 11:54] kokke commented on #29
This fork has support for quantifiers: https://github.com/kokke/tiny-regex-c/pull/23

[2019-06-04 11:54] #29 closed

[2019-06-27 19:25] neilsikka opened #30 "Memory Corruption Vulnerabilities"
This project has memory safety vulnerabilities due to off-by-1 pointer management. For example, running: "tiny-regex-c.exe [" produces the following output:
type: CHAR_CLASS []
type: CHAR '²'
type: CHAR '²'
type: CHAR '²'
type: CHAR '²'
type: CHAR 'á'
type: CHAR 'á'
type: CHAR 'á'
type: CHAR 'á'
type: CHAR 'á'
type: CHAR 'á'
type: CHAR 'á'
type: CHAR 'á'

This test case is reading past the end of

[2019-06-27 20:11] kokke commented on #30
Hi @neilsikka - yes indeed, if you provide an incomplete regex-pattern ('tiny-regex-c.exe [' is an unmatched character class if I am not mistaken), memory corruption will ensue.

If you are concerned about security problems, this library is not for you.

If you want a small implementation of a regex library, with bugs etc. as described in the README, the project may be of interest.

[2019-07-03 14:04] ogamespec opened #31 "Thread safety"
https://github.com/kokke/tiny-regex-c/blob/d3058f271f7a06ff298dff0a6a9a1e0753a5fa17/re.c#L111

Looks like its non thread safe (non-reentrant)

[2019-07-03 15:00] kokke commented on #31
Hi @ogamespec and thanks for your comment :)

Your observation is totally correct: this code is not reentrant.

The code is targeted towards embedded and resource-constrained targets, where dynamic allocation is verboten and binary size matters.

Some of the forks of this project vastly expands functionality and I also believes thread-safety is implemented in some of them. If this is a requirement

[2019-07-18 13:15] ogamespec commented on #31
Resolved)

[2019-07-18 13:15] #31 closed

[2019-07-24 09:57] theo-dep opened #32 "Compilation using VS2010"
Hi,

Thank you for your code, it resolves an issue to use regex with gcc in very big string.
Visual Studio 2010 needs perfect C code, and it is throw this error :
[code]
To resolve this issue, only `int i;` and `char c;` need to be moved in top of the function `void re_print(regex_t* pattern)`.

[2019-07-24 14:01] theo-dep opened #34 "feature request: lookahead and lookbehind"
feature request: https://www.regular-expressions.info/lookaround.html

[2020-01-25 19:47] #30 closed

[2020-04-29 21:49] #32 closed

[2020-04-29 21:53] kokke commented on #24
The length of the match can now be returned as per #36

[2020-04-29 21:53] #24 closed

[2020-05-05 02:32] ToriningenGames commented on #27
Disclaimer: I am not the maintainer.

Your regex contains quantifiers (`{8}` etc.). Currently, they are not supported (ref. Issues #18, #29).
For this reason, I'd expect your regex to fail. Issue #29 points to a fork that, while out of date, does support quantifiers. Or, while more tedious and harder to maintain, repeating the character group prior to the quantifier would work.

[2020-05-05 10:23] monolifed commented on #27
It supports match length now. You can do it with a few matches

There is another fork that supports quantifiers: https://github.com/monolifed/tiny-regex-mod

[2020-06-20 09:47] sukhchainn opened #38 "need help in finding one of the two strings."
I am having trouble finding the pattern to mach one of the two strings from a larger string.
`re_t match_pattern = re_compile("I|Me");`

The code above doesn't seem to work, what should I do?

[2020-06-20 13:56] BenStigsen commented on #38
Not sure if the `or` symbol works. It's not in any of the tests, and this is in the README:

So you could just match for `"I"` first, if not valid, match for `"Me"` after.

[2020-06-20 17:24] sukhchainn commented on #38
Can you suggest me a minimal regex library that supports` or` in groups?

[2020-06-20 19:05] BenStigsen commented on #38
I have not found a "good" one yet. This is the closest to it that I've found so far.

[2020-07-09 18:14] StephenArk30 opened #40 "Understand metacharacters and escape character"
In most languages, the [escape character](https://en.wikipedia.org/wiki/Escape_character) is '\'. Sequences start with an escape character have special meaning, eg: '\n', '\t'.

[Metacharacters ](https://en.wikipedia.org/wiki/Metacharacter)are escape characters, but often match a group of characters, eg: '\s' matches any whitespace like '\t', '\n'.

So, when we are matching single comment lines in

[2020-08-08 01:42] skyformat99 opened #43 "Prevent duplicate include errors"
re.h file
The header and the tail of the file are added separately。

#ifndef      __TINY_REGEX_C_
#define     __TINY_REGEX_C_

......................
...................
....................

#endif

[2020-08-08 22:22] kokke commented on #43
Hi @skyformat99 and thanks for your interest 👍

It’s a good idea and I agree that header include guards are needed.

[2020-08-08 22:25] kokke commented on #43
Added in this commit: https://github.com/kokke/tiny-regex-c/commit/9d46276c48091a22ac4fa6472603fe4b17d483ce

[2020-08-08 22:25] #43 closed

[2020-08-08 22:26] kokke commented on #43
Once again, thanks for pointing it out @skyformat99

[2020-08-10 15:11] DavidKorczynski opened #44 "Minor overflow in re_compile"
I found a minor overflow in `re_overflow` on line 121:

https://github.com/kokke/tiny-regex-c/blob/9d46276c48091a22ac4fa6472603fe4b17d483ce/re.c#L121

The bug is triggered with the following buffer input to the function: `"\\\x01[^\\\xff][^\x00"`

The overflow happens because of the `[^` characters in the buffer, in particular if execution enters the condition:
https://github.com/kokke/tiny-regex-

[2020-08-10 15:47] kokke commented on #44
Hi @DavidKorczynski and thanks for the thorough explanation.

Just to make sure I understand the report correctly: You are passing an incomplete regex-pattern right?

`"\\\x01[^\\\xff][\\\x00"` looks like it's missing a closing bracket at the end `]` ?

[2020-08-10 15:57] DavidKorczynski commented on #44
Yes, that's correct! This is an invalid regex pattern - I was only reporting this because of it being a memory corruption bug. If you define your library such that it expects valid regex patterns and otherwise have undefined behavior then the bug is not in scope as such.

[2020-08-10 16:21] kokke commented on #44
Thanks for the update.

Please don't mistake my response for disregard. I really appreciate that you've taken the time to document this defect so thoroughly.

This code does expect valid regex patterns, but still it is not very nice to segfault or corrupt memory. I have always loathed the missing validation but I left it out because I thought implementing it would require too much energy - and cod

[2020-08-10 16:27] DavidKorczynski commented on #44
Sounds good @kokke - your design choices make sense to me and thanks for the kind and quick replies.

I filed an issue of the bugs because I am making some educational videos on how to use some program analysis tools (symbolic execution) in order to analyse the properties of a code base, and your project is a nice project for demonstration purposes because, as you write, it has a small footprint.

[2020-08-10 16:43] kokke commented on #44
Thanks for the kind words @DavidKorczynski :)

Most (all?) of my public projects are designed to be runnable on embedded platforms, and usually that means I make some harsh compromises.

What a coincidence, I love static analysis! I would love to see whatever material you have available :)

I dabble with static analysis myself, mostly data-flow analysis and abstract interpretation, but I am not pi

[2020-08-10 16:54] kokke commented on #44
... and if I may ask, how do you find projects well suited for static analysis yourself? I have stumbled into this problem just recently.

I've made a tool that clones a bunch of repos with C-code and runs my analysis-tool on them. Currently, I am just finding repos manually through Github's webpage and copy/pasting the repo-links, which gets tedious...

[2020-08-10 17:09] DavidKorczynski commented on #44
Awesome :)! I will add a link here when I upload the video - which should happen in one of the coming days.

That's great with data-flow analysis and abstract interpretation. I have used both extensively, and my PhD thesis involved a lot of (dynamic) taint analysis to analyse malware (you can find it on the Oxford University Research Archive here: https://ora.ox.ac.uk/objects/uuid:ef3faf5e-7733-44

[2020-08-10 18:42] kokke commented on #44
Nice! I'm looking forward to seeing the video. There are too few videos on static analysis in my opinion. Also thanks for taking the time to answer my questions.

I'll take a look at your thesis and see how much I understand :) I majored in EE/CS and only did introductory coursework on formal methods and static analysis, so there is a lot of notation/syntax that I don't understand and a lot of bra

[2020-08-11 11:26] kokke commented on #44
Hi @DavidKorczynski - I think I have a solution.

It's not the best solution, but it's the easiest for now.

https://github.com/kokke/tiny-regex-c/commit/1a279e04014b70b0695fba559a7c05d55e6ee90b

The better solution would be to pass a length of the pattern as well, and replace all null-checks with checks against the length of the string. That would enable handling of regex patterns over binary dat

[2020-08-11 13:09] Nable80 commented on #44
Hi @kokke
I came across dbde6da49707a6008d33fb4ccc7d84cac79ae1f5 in my recent notifications and there are few code style related questions that I'm too tempted to ask:
1. Why do you need a mutable copy of ``pattern1``/``pattern2``? My personal rule of thumb is that everything should be ``const`` except those things that can't be constants due to some obvious reasons. Do you share this idea?
2. Is

[2020-08-11 14:00] kokke commented on #44
Hi @Nable80 - you're always welcome to ask questions :)

1) There is no need for a mutable copy at all. A `const char*` would do just fine. I just wanted tests for the failure-cases, to verify whether or not my proposed fix would work. I like the idea about const-strictness, but I am not too good myself at using `const` I must admit. In C const has less

2) There is no need for variables either :)

[2020-08-11 17:40] Nable80 commented on #44
Thank you very much for this kind reply!

Are some words missing after this part in point 1? I think I got your idea anyway, ``const`` is quite limited in C due to backward compatibility reasons and it's really sad. I often use C for firmware and sometimes I have to use ``static const`` workaround, sometimes I just have to accept that compiler stores some constant array/structure as-is instead of

[2020-08-12 07:33] kokke commented on #44
Haha yes indeed - how did I miss that.. I was starting a paragraph about how const is difficult to enforce etc.- you got the gist of it.

Valid critique of the loop-construct - I will refactor back to your suggestion, which is clearer and yields better error messages (good point RE: "assertion failed on line 25").

Interesting, I did not know about -Wnarrowing and -Wqual-cast. I will check if our

[2020-08-12 16:56] Nable80 commented on #44
Oh, it sounds like a somehow painful enterprise experience.

Yes, I usually build with -O2 (desktop/server builds and sometimes I try to use it for firmware, just to compare size and check whether static analysis could find anything in addition to -Os level) or -Os (regular firmware builds) too.

Thank you for -Wundef and -Wstrict-prototypes, I thought they're part of -Wall or -Wextra but they are

[2020-08-15 17:55] DavidKorczynski commented on #44
Just a quick update for now @kokke : The following link is the instructional video on how to use KLEE for analysis of open source projects, which is how I found the bugs reported in this issue : https://www.youtube.com/watch?v=XaYEmwVMRt4

[2020-08-19 16:36] kokke commented on #44
Hi @DavidKorczynski and thanks for the update. I never got back to you, because I had a feeling the second null-check could be avoided, if using the last fix (the one only present in my comments). I wanted to test that out, so I tried getting KLEE to compile and in my quest for that, I ended up doing a full system upgrade.

It went mostly like this:

![...](https://imgs.xkcd.com/comics/success.png

[2020-08-19 16:42] kokke commented on #44
For now I have implemented all the null-checks discussed in https://github.com/kokke/tiny-regex-c/commit/1a279e04014b70b0695fba559a7c05d55e6ee90b -- see commit https://github.com/kokke/tiny-regex-c/commit/349ef187d00444349a38cfc409b9f023a3c31e5f

[2020-09-17 12:36] Nable80 commented on #3
Oh, it looks like people asked for this feature (and provided some kind of implementations) multiple times in the past.
Here's one of the latest attempts: https://github.com/kokke/tiny-regex-c/pull/45

@kokke, what do you think about this issue? IMHO there should be some final decision: either merge one of implementations as an optional feature or mark it as "wontfix" and clearly mention in docume

[2020-09-18 01:49] jaeung24k-sindoh opened #47 "Could not search for '.'"
re_compile("[A-Z]:-?\\d+.\\d+");
or
re_compile("[A-Z]:-?\\d+[.]\\d+");

Can't distinguish between X:12.34 and X:1234.

[2020-10-11 10:42] szm007 commented on #47
[.] will match any character,try [\\.]
You should learn about escape characters

[2021-01-05 21:34] #47 closed

[2021-01-20 08:35] qgymib commented on #3
Hi,

There might be a simple solution for this (without any dynamic memory allocation of course):

1. define `struct regex` as following:

[code]

Where `regex2_t` is the original regex structure in your source code.

2. add a new interface:

[code]

This function initialize `struct regex` on `buffer`, just looks like:

[code]

[2021-02-09 07:13] xavieryin opened #53 "matchlen may be wrong"
`int match_len;`
`char* s = "aa";`
`char* p = ".*a.*a";`
`int match_idx = re_match(p, s, &match_len);`

expected: match_len == 2
result:       match_len == 3

[2021-02-11 18:03] snej commented on #30
If you’re not going to fix this, the responsible thing would be to put a big boldface disclaimer in the README saying that “**this library does not check patterns for validity, and may produce undefined behavior including memory corruption when given an invalid pattern.**”

Otherwise users will naturally assume the library rejects invalid patterns (or at worst produces invalid output without undef

[2021-02-11 19:56] kokke commented on #30
Hi @neilsikka - is this still an issue?

From this thread: https://github.com/kokke/tiny-regex-c/issues/44 and the discussion, I got the impression that these issues were squashed.

I am not near a computer now, so can’t test myself.

If this is indeed still an issue, I will add a warning about incorrect usage as you suggest.

[2021-02-12 06:42] kkos opened #56 "Incorrect results for repeat operators"
(1) Matching a? or a* with an empty string failed.
(2) Using nested repeat operators failed.  For example, a?+ with string "a".

[2021-02-12 06:52] kokke commented on #30
To summarize and give you some context: #44 and the changes that ensued, made the library pass formal verification by KLEE.

After those changes, I removed the warning in the readme about not validating erroneous regex patterns.

I will appreciate a piece of code or a command so I can reproduce the alledged problem in a case such as this. Or even better: a PR.

[2021-02-12 17:22] gmorenz opened #57 "I ported this to rust"
Hi,

Just thought I'd let you know that I ported this to rust for fun after seeing it on [lobste.rs](https://lobste.rs/s/xouda7/small_regex_implementation_c_less_than). The [repo is here](https://github.com/gmorenz/tiny-regex-rs). There are a few small changes in internals, but it's a reasonably direct port.

Thanks for making this cool little library :)

[2021-02-12 17:22] #57 closed

[2021-02-12 18:01] kokke commented on #30
@snej
I had the chance to run KLEE on the code and (according to the tool) the code is proven free of run-time errors. So as far as I can tell, the bugs were indeed squashed in #44.

To be completely frank with you: I think you should have verified this for yourself, before chiming in on a closed issue from 2019.

Another approach would have been to just ask if this was fixed, before lecturing me

[2021-02-12 20:51] kokke commented on #57
Hi @gmorenz and thanks for letting me know about your project :) I am not yet well versed in Rust, but I'll take a look.

I am currently using the Python re module as test oracle, which is kinda slow. It would be nice to have something faster like an implementation in Rust (yours?) - maybe just as an addition to Python. Would that be an fun project?

I noticed a ~20x increase in traffic on this pr

[2021-02-13 01:32] kokke commented on #44
@DavidKorczynski !! I never gave you a proper reply... Thank you for taking the time to work with me and the project.

I've made the page below where I've begun some KLEE-checking of the code, but I've only done re_compile() for now.
Do you have any test-drivers lying around with more coverage that I could use, now that I'm namedropping you anyways? ;)

https://github.com/kokke/tiny-regex-c/blob/m

[2021-02-13 01:42] kokke commented on #56
Hi @kkos and thanks for the notice :+1:

Could you please provide some code so I can be certain what cases we are talking about.

Could you perhaps make a PR editing some of https://github.com/kokke/tiny-regex-c/blob/master/tests/test1.c to showcase exactly the cases you're talking about in 1) 2) ?

That would help me understand your issue :)

[2021-02-13 14:14] kkos commented on #56
I don't even know if it supports nested repeat operators in the first place, so I'll refrain from writing a PR.
But if you want to match the Python result, you would have something like this:

[code]

The Python code I tested:

[code]

[2021-02-13 15:53] kokke commented on #56
Hi @kkos and thanks for helping me understand the issue 👍

I don’t think the nested operators are supported easily, but I will have a look and get back to you

[2021-02-15 21:03] kokke commented on #40
Hi @StephenArk30 and thanks for your comment

I'm not really sure what you mean. Could you please have a look at https://github.com/kokke/tiny-regex-c/blob/master/tests/test1.c
... and write a few test cases so I'm absolutely sure what we're talking about.

I'm trying to mimic the Python implementation, but the code is in C which just handles escapes like that. Or maybe I'm misunderstanding you?

[2021-02-15 21:06] kokke commented on #38
Hi @sukhchainn and thanks for the question

@BenStigsen seems to have answered the question so I'll close the issue. If you have further comments, feel free to keep writing anyway.

FYI I have considered including grouping `|` but it will require a rewrite I think, because the current data-model is becoming stretched.

I am considering an implementation with 32-bit tokens as the regex_t elements,

[2021-02-15 21:06] #38 closed

[2021-02-15 21:09] kokke commented on #34
Hi @theo-dep - how did the lookahead/behind work out for you? Did you ever implement this?

As mentioned in #38 I am considering re-implementing the data-model, but it would require some rewriting.. I don't think I will be adding any feature in the near future. I have a lot on the program privately that limits my time available for it.

[2021-02-15 21:09] #34 closed

[2021-02-15 21:10] kokke commented on #20
@monolifed

This should be closed no?

[2021-02-15 21:10] #20 closed

[2021-02-15 21:13] kokke commented on #21
Hey @monolifed - will you make a PR with the quantifier-addition? I think I somehow dropped this on the floor.

I am not sure how to review which additions were made besides the addition of the matchquantifier-function. Maybe you have a better recollection/overview?

[2021-02-15 21:35] monolifed commented on #21
I don't really remember well

[2021-02-15 21:57] kokke commented on #21
:laughing:

I'll try and see if I can get time to clone the branch, pull from master and diff against it. That should do it no? I don't think that branch is any unmergeable changes behind.

[2021-02-15 21:59] #28 closed

[2021-02-16 07:05] theo-dep commented on #34
Hi, it is a long time ago, I do not remember if that code work 😅 and if I finally used it.
Do not worry, I am in other project now, I wish to thank you for the future work!

[2021-02-17 22:19] snej commented on #30
My apologies — someone linked to this issue in a forum, and I stupidly didn't notice how old the timestamp was. 😔
Glad it's fixed.

[2021-02-17 22:41] kokke commented on #30
Hi @snej - thanks for being so upfront and no worries at all :)

Having now seen the lobste.rs-post (mentioned in #57) I totally understand how that situation arose. I don't come back to edit all issues normally, so I can easily understand how it wasn't easy to spot how this had been fixed.

I can see now, that my comment(s) were too harsh and dismissive - I apologize for that. I was in a rush whe

[2021-02-19 19:38] snej commented on #30
If you'd like an invite, email me (jens åt mooseyard døt cøm) ^_^

[2021-02-19 22:05] kokke commented on #30
[code]

Thank you very much @snej - a good sport and a chummy lad etc. ;D

[2021-02-19 22:08] kokke commented on #30
BTW I see you like capybaras, so here's one for you, free of charge

[code]

[2021-02-24 02:11] xavieryin commented on #53
Is anyone also facing this problem?
Or am I doing something incorrectly?

[2021-03-01 09:06] kkos commented on #53
Yes, I did. I had the same result as you.
And in the next pattern and string, returns length=5.

pattern = ".*a.+a"
string =  "aaa"

[2021-03-05 20:59] marler8997 commented on #3
Here's my attempt: https://github.com/kokke/tiny-regex-c/pull/58

[2021-03-06 01:25] marler8997 opened #59 "Add Precompiled Regex Code Generator"
I decided to use this library for a scripting language I'm working on.  You can see the relevant piece here: https://github.com/stitchlang/stitch/tree/6b6ce354bc699330e136774b71b7fa34fa102549/src

One thing I wanted was to compile my regex expressions at compile time rather than runtime.  I realized that the data-structure that this regex library uses if very simple:

[code]

So I ended up creatin

[2021-03-08 03:59] xavieryin commented on #53
Quick note: tried #63 , but no luck

[2021-03-08 04:04] xavieryin commented on #53
no luck by applying #61

[2021-03-08 07:47] marler8997 opened #66 "Python random tests are failing but CI is passing"
The `regex_test.py` and `regex_test_neg.py` scripts are failing but they don't return a non-zero exit code.  This causes the Makefile to continue on like nothing went wrong thinking that everything passed.  This can be fixed by adding the following lines to the end of the regex python scripts:

[code]

The problem is that this will cause the CI to fail because the tests currently aren't passing, s

[2021-03-08 11:37] marler8997 opened #67 "regex compilation is making things slower?"
After my experiment to change to a "flat memory layout" here (https://github.com/kokke/tiny-regex-c/pull/62), I had a suspicion that the regex compilation may not be improving performance by much.  It took a while but I re-implemented everything without compilation in this commit https://github.com/marler8997/tiny-regex-c/commit/61a7003fa775a5ace06c295468f41b54a630b8ac.  Turns out that without reg

[2021-03-08 12:04] marler8997 commented on #40
@kokke what he's asking for is this:
[code]

[2021-03-08 19:32] kokke commented on #59
Hi @marler8997 and thanks for all your effort (seeing all your other PRs etc.) :+1:

Thanks for the kind words. I also think the code is legible enough to be hackable, which is usually a quasi design goal.

Sorry for not having responded until now. I am super busy at work and privately at the moment and do not have time/energy to read or review all your nice suggestions. I expect it to clear up ne

[2021-03-08 19:36] kokke commented on #59
Having (quickly!) read the README, I like the idea of stitch. I'm checking the examples now.

[2021-03-08 22:41] marler8997 commented on #59
Ok no problem thanks for letting me know.  I have everything I need for right now with my fork and/or branch but if/when you're ready I'm willing to put in effort into upstreaming any changes, bug fixes or features you'd like to bring in as well.  I'll plan on doing that after you find some time to address my current PRs.  My hope is my fork/branch are only temporary until we can negotiate which c

[2021-03-08 22:49] marler8997 commented on #59
Thanks!  This is probably my 5th attempt to come up with something to replace my BASH scripts with that I'm happy with.  I think I have most of the overall language roughly laid out, but there's till alot of smaller details to figure out such as if I should add keywords, if I should represent binary operators in the syntax or not, if I should add special syntax for arrays and/or environment variab

[2021-03-10 14:02] marler8997 opened #68 "support for non-greedy `*?` and `+?`"
tiny-regex-c can add support for these simply by reversing the order of the 2 code blocks in `matchplus` and `matchstar

[2021-03-17 20:12] yoyopoleg opened #69 "Wrong match length?"
Hi,
I ran into an issue in the following scenario:
`pattern = re_compile("{\\w+}");
match_pos = re_matchp(pattern, "{{FW}_TEST", &match_length);
`
I get that match_pos==1 (correct), but match_length==5 (incorrect).
I was expect it to give me match_pos==0 and match_length==5 --OR-- match_pos=1 and match_length==4.
Tnx
Yair

[2021-03-18 01:43] xavieryin commented on #69
Looks comparable to #53.
Please also refer to #67, which may help on your case.

[2021-03-18 04:42] yoyopoleg commented on #69
I tried the code from here: https://github.com/marler8997/tiny-regex-c, no luck :/

[2021-04-13 16:09] marler8997 commented on #69
@yoyopleg sorry I didn't get notified about your comment 26 days ago, but I just happened to be looking through these issues today.  All my changes are on the `nocompile` branch in my repo, maybe you were using the `master` branch?  I've added this test case here: https://github.com/marler8997/tiny-regex-c/pull/1 (check the bottom of `test3.c`) and with my branch I get a match position of `1` and

[2021-04-19 15:38] StephenArk30 commented on #40
Sorry for the late reply. This is just a note for some beginners who thinks themselves "smart" like me. Not asking for anything.

So the case was I was trying to matching single comment lines in C like "// this is a comment", and I used

``\/\/[^\\n]*``

because I thought I should keep the '\'. But it didn't work so I created a pr [here](https://github.com/kokke/tiny-regex-c/pull/39) trying to mat

[2021-05-02 14:26] dgengin opened #70 "Error on isdigit, isalpha, isspace with char > 127"
The is*** functions to check if a char is a digit or space fail if you pass a char that's above 127.

https://en.cppreference.com/w/cpp/string/byte/isalpha

Depending on your compiler you might get an error. You can fix this by casting the value to `unsigned char`.
Try and match this "Çüéâ" as ASCII.

[code]

[2021-06-10 23:27] MiloDC opened #71 "re_matchp succeeds only for the first string compared to a pattern"
`re_t myRe = re_compile("^[^=]+=[^=]+$");`
`int matchLen;`
`re_matchp(myRe, "operationName=PublishEditMessageClients", &matchLen);` (= > -1)
`re_matchp(myRe, "operationName=DeleteMessageClients", &matchLen);` (= < 0)
`re_matchp(myRe, "operationName=PublishEditMessageClients", &matchLen);` (= > -1)
`re_matchp(myRe, "operationName=PublishDirectMessageClients", &matchLen);` (= < 0)

As you can see, o

[2021-06-18 14:52] Amiralgaby commented on #71
I'm a newbie in contribution and I do that
[code]

[2021-06-23 10:41] Amiralgaby commented on #71
in re.c
there is this written
[code]
I see you use inverted class, but i don't realized test if you are right

[2021-07-10 03:49] hInfern0 opened #73 "vcpkg installion windows - length is not changing in return"
![image](https://user-images.githubusercontent.com/69460530/125150764-a0fda280-e142-11eb-86a5-89a7710a368f.png)

[2021-10-28 12:02] TMODER opened #74 "support for {n,m},repeat N to M times?"

[2022-01-24 05:49] janislley opened #76 "Software vulnerabilities detected during code analysis with ESBMC-WR tool"
Hello,

One potential software vulnerability was found in code.
To identify this kind of vulnerabilities I used ESBMC-WR tool: https://github.com/thalestas/esbmc-wr
We detect it during code exploitation for RUFUS tool.
A bug was reported at this time and the developer of RUFUS tool requested to solve this potential issue directly here in mainline code.

Bug reported at RUFUS repository code: https

[2022-06-20 05:36] rurban commented on #74
Done in my rurban/times branch. https://github.com/rurban/tiny-regex-c/tree/times

[2022-06-20 05:39] rurban commented on #67
When I wrote such a simple matcher back in the 90ties, I skipped the compilation part, as it is slower and needs memory. Just dynamic matching was enough.
I had even group expressions then, and the matchers where much simpler, similar to Rob Pike's. I wrote it for asterisk, but cannot find it anymore.

[2022-06-20 05:40] rurban commented on #27
My [times](https://github.com/rurban/tiny-regex-c/tree/times) branch also supports this.

[2022-06-20 06:56] rurban opened #79 "fix pattern '[1-5-]+' against '123-'"
A final - in a character class should not be stopped by the interim range char -.

[2022-08-31 09:36] chtheitmmmmm opened #81 "Do not support {n, m} feature."
Regex is [a-z][a-z0-9]{0, 10},
Match string is "cmtheit",
Do not match.

[2022-10-22 00:27] infradig opened #83 "Not only does [^blah] not work but the non-inverted [blah] doesn't work either"
Not only does [^blah] not work but the non-inverted [blah] doesn't work either.

[2022-10-22 01:18] infradig commented on #83
Deleting this.

[2022-10-22 01:18] #83 closed